<div class="page-header">
  <h1>
    Connections
    <a href="/connections/new" class="btn btn-lg btn-success">New Connection</a>
  </h1>
</div>

<div class="row">
  <% @connections.each do |connection| %>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
              <%= connection.name %>
          </h2>
          <p>
            <%= connection.company %>
          </p>

        </div>
        <div class="panel-body">
          <li>
            <p>Number of Interactions: <%= Interaction.where(:connection_id => connection.id).count %></p>

            <p>Date of Last Interaction: <%= Interaction.where(:connection_id => connection.id).maximum(:date) %></p>
          </li>
        </div>
        <div class="panel-footer">
          <td>
            <a href="/connections/<%= connection.id %>" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
            <a href="/connections/<%= connection.id %>/edit" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a href="/delete_connection/<%= connection.id %>" class="btn btn-danger" rel="nofollow"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </td>
        </div>
      </div>
    </div>

  <% end %>
</div>
