<div class="page-header">



  <h3><%= @connection.name %></h3>
  <h5><%= @connection.company %></h5>
  <div class="btn-group">
    <a href="/connections" class="btn btn-default">
      Back
    </a>
    <a href="/connections/<%= @connection.id %>/edit" class="btn btn-default">
      Edit
    </a>
    <a href="/delete_connection/<%= @connection.id %>" class="btn btn-default" rel="nofollow">
      Delete
    </a>
  </div>
</div>


<% @connection.interactions.each do |interaction| %>
  <%= interaction.event %>
<% end %>
